<div class="container" ng-app="app" ng-controller="PodcastCtrl">
    <div class="row">
        <div class="col-md-12">

            <div ng-repeat="podcast in model.Podcasts">
                <div style="width:150px">
                    <table>
                        <tbody>
                            <tr>
                                <td align="center" style="padding: 3px">
                                    <div width="130px" height="130px" images code="podcast.nmArquivoImagem"></div>
                                </td>
                                <td>
                                    <label style="width: 100%">{{podcast.dsTitulo}}</label>
                                    <label>{{podcast.dsPodcast}}</label><br />
                                    <div audios code="podcast.nmArquivoAudio"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>