<div class="container" ng-app="app">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div style="width:150px">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label style="width: 100%">Título</label>
                                    <input type="text" class="form-control" placeholder="Título" ng-model="novo.dsTitulo" />
                                    <label>Data de Gravação</label><br />
                                    <input type="date" class="form-control" placeholder="Data de Gravação" ng-model="novo.dtGravacao" />
                                    <label>Descrição</label><br />
                                    <textarea type="text" class="form-control" placeholder="Descrição" ng-model="novo.dsPodcast" />
                                    <label>Nr Edição</label><br />
                                    <input type="text" class="form-control" placeholder="Descrição" ng-model="novo.nrEdicao" />
                                    <label>Arquivo de áudio</label><br />
                                    <input type="file" file-model="audioFile" ng-model="novo.nmArquivoAudio" />
                                    <label>Arquivo de imagem</label><br />
                                    <input type="file" file-model="imageFile" ng-model="novo.nmArquivoImagem" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br />
                                    <button ng-click="salvarPodcast()" class="btn btn-primary">Salvar</button>
                                    <button ng-click="cancelar()" class="btn btn-default">Cancelar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>