<div class="container" ng-app="app" ng-controller="PodcastCtrl">
    <div class="row">
        <div class="col-md-12">
            {{novo}}
            <div>
                <div style="width:150px">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label style="width: 100%">Título</label>
                                    <input type="text" class="form-control" placeholder="Título" ng-model="novo.dsTitulo" />
                                    <label>Data de Gravação</label><br />
                                    <input type="text" class="form-control" placeholder="Data de Gravação" ng-model="novo.dtGravacao" />
                                    <label>Descrição</label><br />
                                    <input type="text" class="form-control" placeholder="Descrição" ng-model="novo.dsPodcast" />
                                    <label>Arquivo de áudio</label><br />
                                    <input type="file" />
                                    <label>Arquivo de imagem</label><br />
                                    <input type="file" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div>
        <br />
        <br />
        <br />
        <br />
        <input type="file" file-model="myFile" />
        <button ng-click="uploadFile()">upload</button>
    </div>
</div>